//colores
$color-primary: #01DB91;
$color-secondary: white;
$color-tertiary: black;
$color-cuaternary: #1d634b;
$background-color: #7EA9AF;

//fuentes
$font-family1: 'Roboto', sans-serif;
$font-weight1: 800;

$font-family2: 'Montserrat', sans-serif;
$font-weight2: 100;


$font-size-xl:36px;
$font-size-l:28px;
$font-size-m:20px;
$font-size-s:14px;
$font-size-xs:12px;